.header,.sidebar,.navigation,.content,.footer{

    display: flex;
    justify-content: center;

    border: 2px solid black;
    width: 100%;

}

.header h1,.sidebar h1,.navigation h1,.content h1,.footer h1{

    text-transform: uppercase;

}

.flip_block{

    display: flex;
    justify-content: center;

}

.header,.navigation,.sidebar,.content{

    margin-bottom: 10px;

}

.sidebar{

    margin-left: 10px;

}